#background{
    display: flex;
    background-color: wheat;
    flex-direction: row;
    border: 1px solid black;
    width: auto;
    height: 700px;
    justify-content: space-around;
    gap: 20px

}

body{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    border: 1px solid black;
}